#emacs auto save files:
*.*~
\#*#
git_fix_author.sh
*~

.emacs.desktop
.emacs.desktop.lock
elpa/
recentf
semanticdb/
url/

ede-projects.el
ido.last
network-security.data
projectile-bookmarks.eld
projectile.cache